<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="../../assets/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../assets/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="../../assets/css/responsive.css">
</head>

<body>
    asdasddasd
        <!-- <div class="start-free-box">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="main-start-box">
                            <div class="free-box-a clearfix">
                                <div class="col-md-6 col-sm-6">
                                    <div class="left-a-f">
                                        <h3>A platform built for scale & expansion. Start for free.</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="right-a-f">
                                        <p>Over the comming years, way thet business through the web
                                            works will change at agreat - and chamb is the
                                            gamebreaker.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="main-start-box">
                        <div class="bg_img_left"><img src="../../assets/images/bg_img1.png" alt="#" /></div>
                        <div class="container">
                            <div class="buyer-box clearfix">
                                <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                                    <div class="left-buyer">
                                        <img class="img-responsive" src="../../assets/images/creat_pro.png" alt="#" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                                    <div class="right-buyer">
                                        <h4>buyer</h4>
                                        <h2>Empower your factory<br>
                                            <span>With a new lead Channel</span>
                                        </h2>
                                        <p>Never worry about sales or income ftom outbound
                                            channels. with chamb your store is directly
                                            connected to thousands of interested in your
                                            products.
                                        </p>
                                        <a href="#">Create a buyer account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--main js-->
        <script src="../../assets/js/jquery-1.12.4.min.js"></script>
        <!--bootstrap js-->
        <script src="../../assets/js/bootstrap.min.js"></script>
        <script src="../../assets/js/bootstrap-select.min.js"></script>
        <script src="../../assets/js/slick.min.js"></script>
        <script src="../../assets/js/wow.min.js"></script>
        <!--custom js-->
        <script src="../../assets/js/custom.js"></script>
</body>

</html>