<mat-card class="flip-card">
  <mat-card-header>
    <mat-card-title>Captain America</mat-card-title>
    <mat-card-subtitle>The First Avenger</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flip-card-inner">
    <div class="flip-card-front">
      <img mat-card-image src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/d/d7/CapAmerica-EndgameProfile.jpg/revision/latest?cb=20190423175339" alt="Photo of a Captain America">
    </div>
    <div class="flip-card-back">
      <p>
        "For as long as I can remember, I just wanted to do what was right. I guess I'm not quite sure what that is anymore. And I thought I could throw myself back in and follow orders, serve. It's just not the same."
        ―Steve Rogers to Peggy Carter
      </p>
      <button mat-raised-button color="primary" (click)="alert()">LIKE</button>
    </div>
  </mat-card-content>
</mat-card>
